[Unit]
Description=Behind DNS Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/home/soramimi/develop/behind
ExecStart=/home/soramimi/develop/behind/_bin/behind -C /home/soramimi/develop/behind/scripts/behind.conf
Restart=on-failure
RestartSec=5

User=soramimi
Group=soramimi

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

