[Unit]
Description=Behind DNS Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/behind
ExecStart=/usr/local/bin/behind -C /etc/behind/behind.conf
Restart=on-failure
RestartSec=5

User=soramimi
Group=soramimi

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

